*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #fff;
}

body {
    background-color: #3d3d3d;
    padding: 2rem;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}


.outlet {
    font-size: 16px;
}